<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>HomePage </title>
</head>
<body>


<h2>Home Page HELLO!!!!!!!! </h2>
<hr>
<p>
    Welcome to our home page!!!
</p>

<hr>

<!--Display username and role-->
<p>

    User :<span sec:authentication="principal.username"></span>
    <br><br>
    Role(s) : <span sec:authentication="principal.authorities"></span>

</p>

<!--Logout Page -->

<form action = "#" th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>