<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>HomePage </title>
</head>
<body>


<h2>Home Page HELLO!!!!!!!! </h2>
<hr>
<p>
    Welcome to our home page!!!
</p>

<hr>

<!--Display username and role-->
<p>

    User :<span sec:authentication="principal.username"></span>
    <br><br>
    Role(s) : <span sec:authentication="principal.authorities"></span>

</p>

<hr>

<div sec:authentication="hasRole('Manager')">
<!--Add link to a point to /leaders ... this is for managers-->
<p>
    <a th:href="@{/leaders}">Leadership Meeting</a>
    (only for managers)
</p>
</div>

<div sec:authentication="hasRole('Admin')">
<!--Add a link to point to systems ....this is only for admins-->
<p>
    <a th:href="@{/systems}">IT Systems Meeting</a>
    (only for Admins)
</p>
</div>


<hr>

<!--Logout Page -->

<form action = "#" th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>